body{
    margin: 0;
    background: #6bd0f4;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-img{
    margin-top: 20px;
    width: 60%;
}
.desc{
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    padding: 30px 20%;
    text-align: center;
}
.role-content{
   padding: 40px;
    display: flex;
    justify-content: space-between;
}
.role-img-container{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.role-img{
    width: 100%;
    border-radius: 30px;
}
.view-btn{
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bolder;
    border: black 1px solid;
    border-radius: 100px;
    background-color: aliceblue;
    height: 80px;
    line-height: 80px;
}